<.container max_width="full">
  <.live_component
    module={ListableComponentsPetal.ViewSelector}
    id="config"
    view_sel={@view_sel}
    group_by={@group_by}
    order_by={@order_by}

    selected={@selected}
    listable={@listable}
  />
  <.live_component module={ListableComponentsPetal.Results} id="results" listable={@listable} />
</.container>
