<.container max_width="full">
    <.live_component module={ListableComponentsPetal.ViewSelector} id="config" listable={@listable}/>
    <.live_component module={ListableComponentsPetal.Results} id="results" listable={@listable}/>
</.container>
