[submodule "vendor/selecto"]
	path = vendor/selecto
	url = git@github.com:seeken/selecto.git
	branch = main

[submodule "vendor/selecto_components"]
	path = vendor/selecto_components
	url = git@github.com:seeken/selecto_components.git
	branch = main

[submodule "vendor/selecto_kino"]
	path = vendor/selecto_kino
	url = git@github.com:seeken/selecto_kino.git
	branch = main

[submodule "vendor/selecto_mix"]
	path = vendor/selecto_mix
	url = git@github.com:seeken/selecto_mix.git
	branch = main