<.container max_width="full">
  <button phx-click="toggle_show_view">Toggle View Controller</button>
  <div :if={@show_view}>
    <.live_component
      module={SelectoComponents.ViewSelector}
      id="config"
      active_tab={@active_tab}
      view_mode={@view_mode}
      applied_view={@view_mode}
      group_by={@group_by}
      order_by={@order_by}
      selected={@selected}
      aggregate={@aggregate}
      selecto={@selecto}
      filters={@filters}
      detail_links={true}
    />
  </div>

  <%= if @applied_view == "detail" do %>
    <.live_component module={SelectoComponents.Components.DetailTable} id="results" selecto={@selecto} />
  <% else %>
    <.live_component module={SelectoComponents.Components.AggregateTable} 
      id="results" 
      selecto={@selecto}
    />
  <% end %>
</.container>
