<.button phx-click="toggle_show_view_configurator">Toggle View Controller</.button>
Saved Views:
<.intersperse :let={v} enum={@available_saved_views}>
  <:separator>,</:separator>
  <.link href={"#{@path}?saved_view=#{v}"}> [{v}] </.link>
</.intersperse>

<div :if={@show_view_configurator}>
  <.live_component
    module={SelectoComponents.Form}
    id="config"
    view_config={@view_config}
    selecto={@selecto}
    executed={@executed}
    applied_view={nil}
    active_tab={@active_tab}
    views={@views}
    saved_view_module={@saved_view_module}
    saved_view_context={@saved_view_context}
    saved_view_config_module={@saved_view_config_module}
    current_user_id={@current_user_id}
    domain_module={@saved_view_module}
    filter_sets_adapter={@filter_sets_adapter}
    user_id={@user_id}
    domain={@domain}
    path={@path}
  />
</div>

<.live_component
  module={SelectoComponents.Results}
  selecto={@selecto}
  query_results={@query_results}
  applied_view={@applied_view}
  executed={@executed}
  execution_error={Map.get(assigns, :execution_error)}
  views={@views}
  view_meta={@view_meta}
  domain_module={@saved_view_module}
  last_query_info={Map.get(assigns, :last_query_info, %{})}
  id="results"
/>

<%!-- Modal Detail View (optional feature) --%>
<%= if Map.get(assigns, :show_detail_modal, false) && Map.get(assigns, :modal_detail_data) do %>
  <.live_component
    module={SelectoComponents.Modal.DetailModal}
    id="detail-modal"
    record={@modal_detail_data.record}
    current_index={@modal_detail_data.current_index}
    total_records={@modal_detail_data.total_records}
    records={@modal_detail_data.records}
    fields={@modal_detail_data.fields}
    related_data={Map.get(@modal_detail_data, :related_data, %{})}
    title="Record Details"
    size={:lg}
    navigation_enabled={true}
    edit_enabled={false}
    icon={nil}
    subtitle_field={nil}
  />
<% end %>
