<.button phx-click="toggle_show_view_configurator">Toggle View Controller</.button>

<div :if={@show_view_configurator}>

  <.live_component
    module={SelectoComponents.Form}
    id="config"
    view_config={@view_config}
    selecto={@selecto}
    executed={@executed}
    applied_view={nil}
    active_tab={@active_tab}
    views={@views}
  />

</div>

 <.live_component
    module={SelectoComponents.Results}
    selecto={@selecto}
    page={@page}
    applied_view={@applied_view}
    executed={@executed}
    per_page={@view_config.per_page}
    views={@views}
    id="results"/>
