<main>
  <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info">
    <%= live_flash(@flash, :info) %>
  </p>

  <p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error">
    <%= live_flash(@flash, :error) %>
  </p>
  <.color_scheme_switch />

  <.link href="/pagila">Pagila</.link>

  <div class="p-2 dark:bg-gray-500 dark:text-white">
    <%= @inner_content %>
  </div>
</main>
